body{
  text-align: center;
  background-image: url("agape.jpg");
  font-family: sans-serif;
  font-weight: 100;
  background-size: 320px 300px;	
}

h1{
  font-weight: 100;
  font-weight: bold;
  font-size: 40px;
  margin: 2% 5%;
  font-size: 54px;
    color : #DCDCDC;
    background-color: #1151a5a1;
}
#voltar{
    cursor: pointer;
    text-decoration: underline;
}

#fim {
    color: #7fb7d0;
    font-size: 536px;
    transition: color .7s;
}
.fim {
    background: none;
}
.mostrar {
    color: #006997 !important;
}

.mostrar1 {
    color: #2b2c68 !important;
}